<!DOCTYPE html>
<html>
<head>
<title>Luiz Eduardo Sant'Anna - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Luiz Eduardo Sant'Anna."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link href='http://fonts.googleapis.com/css?family=Calibri:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{url_for('static', filename='img/headshot.jpg' )}}" alt="Luiz Eduardo Dantas Tavares dos Santos Sant'Anna" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Luiz Eduardo Sant'Anna</h1>
			<h2 class="quickFade delayThree">Data Analyst</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="mailto:luiz.dtss@gmail.com" target="_blank"><span class="underlined">luiz.dtss@gmail.com</span></a></li>
				<li><a href="https://www.linkedin.com/in/luiz-eduardo-dantas-tavares-dos-santos-sant-anna-936139143/"> <span class="underlined">LinkedIn</span></a></li>
				<li>+55 (11) 99993-0014</li>
				<li><a href="http://maps.google.com/?q=Rod. Cônego Cyriaco Scaranelo Pires, 2601, Indaiatuba SP Brazil"><span class="underlined">Indaiatuba, SP - Brazil</span></a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Perfil</h1>
				</div>
				<div class="sectionContent">
					<p>Experiente e dedicado <span class="bolded">Analista de Dados</span> com <span class="bolded">5 anos</span> de experiência, identificando problemas e melhorando a eficiência no fluxo dos dados, e comunicando as necessidades de projetos.
					   Habilidoso em extrair dados de sites com <span class="bolded">Python</span>, utilizando bibliotecas de WebScraping como <span class="bolded">Selenium</span>, <span class="bolded">BeautifulSoup</span> e <span class="bolded">Requests</span>. 
					   Proficiente em manipular multiplos tipos de dados com <span class="bolded">Pandas</span> e <span class="bolded">PySpark</span>. Eficiente em monitorar dados de multiplas fontes, 
					   incluindo Access, <span class="bolded">SQL Server</span> e <span class="bolded">MySQL</span>, <span class="bolded">Impala</span>, <span class="bolded">Hadoop</span>, <span class="bolded">PL/SQL</span>, além de Excel .
					   Capaz em sintetizar informações quantitativas e interagir de maneira eficiente com colegas e clientes. Hábil em sumarizar relatórios para os executivos elaborando relatórios em <span class="bolded">Plotly/Dash</span>, 
                       <span class="bolded">Power Bi</span>, Excel e <span class="bolded">Tabelau</span>.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		<div data-aos="fade-up" data-aos-delay="700" data-aos-duration="1600">
			<section>
				<div class="sectionTitle">
					<h1>Histórico Empregatício</h1>
				</div>
				
				<div class="sectionContent">
					<article>
						<h2>Especialista de Dados, BBC Banco Digital, São Paulo</h2>
						<p class="subDetails">ABRIL 2022 - PRESENTE</p>
						<p>
                            Responsável pelo tratamento dos dados de ponta  a ponta, conectando em API's, extraindo informações por WebScraping,
                            e estruturar a analise das informações, modelagem estatística, visualização e apresetação aos diretores e presidente.
                            Atuando em múltiplas frentes do banco como acompanhamento de vendas e MarketShare com Power Bi e Plotly/Dash, 
                            monitoria da carteira, elaboração de estratégias de CRM e configuração das campanhas com Oracle Reposnsys à modelagem
                            para melhoria dos critérios de aprovação do crédito.
                        </p>      
					</article>
					
					<article>
						<h2>Analista Senior de Customer Insights, Azul Linhas Aéreas, Barueri</h2>
						<p class="subDetails">OUTUBRO 2021 - ABRIL 2022</p>
						<p>Desenvolvimento de queries em Impala e Hadoop para responder e analisar a experiencia do cliente, retornando pontos 
                            relevantes com o objetivo de constante melhoria do NPS. WebScraping com python e manipulação de dados com Pandas e PySpark.</p>
					</article>
					
					<article>
						<h2>Analista de Vendas Pleno, Azul Linhas Aéreas, Barueri</h2>
						<p class="subDetails">MAIO 2018 - OUTUBRO 2021</p>
						<p>Criação de Dashboards em PowerBi e Tableau para todo o time comercial, diretores e VPs. Desenvolvimento de Macros em VBA, extração de dados
                            e elaboração de reports em SQL Server. WebScraping de dados da concorrência com WebScraping em Python e visualização das informações
                            com Plotly/Dash. Analise de mercado com o objetivo de crescimento das vendas. Aplicação de estratégias de comunicação para o público B2B
                            em Oracle Resposnsy.
                        </p>
					</article>

					<article>
						<h2>Analista de Vendas Jr., Azul Linhas Aéreas, Barueri</h2>
						<p class="subDetails">OUTUBRO 2017 - MAIO 2018</p>
						<p>Vendas e pós vendas de grupos aéreos.</p>
					</article>

					<article>
						<h2>Operador de Atendimento ao Cliente Internacional, Azul Linhas Aéreas, São Paulo</h2>
						<p class="subDetails">JANEIRO 2017 - SETEMBRO 2017</p>
						<p>Retorno para o atendimento ao cliente em Inglês e Portugês, porém com foco orientado à vendas de passagens.</p>
					</article>

					<article>
						<h2>Suporte Técnico de Atendimento ao Cliente, Azul Linhas Aéreas, São Paulo</h2>
						<p class="subDetails">JANEIRO 2016 - JANEIRO 2017</p>
						<p>Responsável em prestar assistência técnica aos operadores e supervisores, treinamento da equipe e tratativas administrativas com parceiros internacionais.</p>
					</article>

					<article>
						<h2>Operador de Atendimento ao Cliente Internacional, Azul Linhas Aéreas, São Paulo</h2>
						<p class="subDetails">ABRIL 2015 - JANEIRO 2016</p>
						<p>Atendimento à clientes e agentes de viagens e suporte, em Inglês e Portugês.</p>
					</article>

					<article>
						<h2>Operador de Atencimento ao Cliente, Azul Linhas Aéreas, São Paulo</h2>
						<p class="subDetails">ABRIL 2013 - MARÇO 2015</p>
						<p>Atendimento geral de ligações e programa de milhagens.</p>
					</article>

				</div>
				<div class="clear"></div>
			</section>
			
			
			<section>
				<div data-aos="fade-left" data-aos-duration="1300">
					<div class="sectionTitle">
						<h1>Principais Habilidades</h1>
					</div>
					
					<div class="sectionContent">
						<ul class="keySkills">
							<li id="minilogo"><img src="{{url_for('static', filename='img/powerbi.png' )}}" />   Power Bi  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/tableau.png' )}}" />   Tableau  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/python.png' )}}" />   Python  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/html.png' )}}" />   HTML/CSS  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/database.png' )}}" />   T-SQL  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/impala.png' )}}" />   Impala/Hadoop  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/oracle.png' )}}" />   Oracle Responsys  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/scrum.png' )}}" />   Agile/Scrum  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/excel.png' )}}" />   Office  </li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</section>
			
			<section>
				<div data-aos="fade-left" data-aos-duration="1300">
					<div class="sectionTitle" >
						<h1>Qualificações Acadêmicas</h1>
					</div>
					
					<div class="sectionContent">
						<article>
							<h2>Big Data e Inteligência de Analítica, Universidade Anhembi Morumbi</h2>
							<p class="subDetails">JANEIRO 2021 - JUNHO 2024</p>
						</article>
						
						<article>
							<h2>Bacharelado em Aviação Civil, Universidade Anhembi Morumbi</h2>
							<p class="subDetails">JANEIRO 2011 - DEZEMBRO 2016 (Incompleto)</p>
						</article>
					</div>
					<div class="clear"></div>
				</div>
			</section>
			
			<section>
				<div data-aos="fade-left" data-aos-duration="1300">
					<div class="sectionTitle">
						<h1>Cursos</h1>
					</div>
					
					<div class="sectionContentCourses">
						<article>
							<h2>IBM Data Science, Coursera</h2>
							<p class="subDetails">JUNHO 2021 - JULHO 2021</p>
						</article>
						
						<article>
							<h2>ETL com SQL Server, KaSolution</h2>
							<p class="subDetails">JANEIRO 2021 - JANEIRO 2021</p>
						</article>
						
						<article>
							<h2>Sql Server - Avançado, Udemy</h2>
							<p class="subDetails">JUNHO 2019 - JUNHO 2019</p>
						</article>
						
						<article>
							<h2>Excel II - Avançado, Impacta</h2>
							<p class="subDetails">JUNHO 2017 - JUNHO 2017</p>
						</article>
						
						<article>
							<h2>Excel I - Básico, Impacta</h2>
							<p class="subDetails">JANEIRO 2015 - JANEIRO 2015</p>
						</article>
					</div>
					<div class="clear"></div>
				</div>
			</section>
		</div>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
  });
</script>
</body>
</html>