<!DOCTYPE html>
<html>
<head>
<title>Luiz Eduardo Sant'Anna - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Luiz Eduardo Sant'Anna."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link href='http://fonts.googleapis.com/css?family=Calibri:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{url_for('static', filename='img/headshot.jpg' )}}" alt="Luiz Eduardo Dantas Tavares dos Santos Sant'Anna" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Luiz Eduardo Sant'Anna</h1>
			<h2 class="quickFade delayThree">Data Analyst</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="mailto:luiz.dtss@gmail.com" target="_blank"><span class="underlined">luiz.dtss@gmail.com</span></a></li>
				<li><a href="https://www.linkedin.com/in/luiz-eduardo-dantas-tavares-dos-santos-sant-anna-936139143/"> <span class="underlined">LinkedIn</span></a></li>
				<li>+55 (11) 99993-0014</li>
				<li><a href="http://maps.google.com/?q=Rod. Cônego Cyriaco Scaranelo Pires, 2601, Indaiatuba SP Brazil"><span class="underlined">Indaiatuba, SP - Brazil</span></a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Experienced and dedicated <span class="bolded">Data Analyst</span> with <span class="bolded">5 years</span> of experience, identifying efficiencies and problem areas within data streams, while communicating needs for projects.
						Adept at extracting data from websites with <span class="bolded">Python</span>, using WebScraping libraries such as <span class="bolded">Selenium</span>, <span class="bolded">BeautifulSoup</span> and <span class="bolded">Requests</span>. 
						Handling multiple data types with <span class="bolded">Pandas</span> and <span class="bolded">PySpark</span>. Proficient in receiving and monitoring data from multiple data streams, 
						including Access, <span class="bolded">SQL Server</span> and <span class="bolded">MySQL</span>, <span class="bolded">Impala</span>, <span class="bolded">Hadoop</span>, <span class="bolded">PL/SQL</span>, and Excel data sources.
						Bringing forth the ability to synthesize quantitative information and interact effectively with colleagues and clients. Proven track record of 
						generating summary documents for senior management monthly reporting with <span class="bolded">Plotly/Dash</span>, <span class="bolded">Power Bi</span>, Excel and <span class="bolded">Tabelau</span>.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		<div data-aos="fade-up" data-aos-delay="700" data-aos-duration="1600">
			<section>
				<div class="sectionTitle">
					<h1>Employment History</h1>
				</div>
				
				<div class="sectionContent">
					<article>
						<h2>Data Specialyst, BBC Banco Digital, São Paulo</h2>
						<p class="subDetails">APRIL 2022 - PRESENT</p>
						<p>Extracting data with web scraping using Python - Selenium, 
							BeautifulSoup and Requests. Query development and data structuration
							with MySQL and PL/SQL Oracle. Handling information from multiple 
							sources, and extensions - html, pandas dataframes, json and xml - with
							Pandas, PySpark. Dashboards to generate insights in order to improve 
							market share and mitigate credit risk with Power Bi, Plotly/Dash and 
							Matplotlib.</p>
					</article>
					
					<article>
						<h2>Senior Customer Insights Analyst, Azul Linhas Aereas, Barueri</h2>
						<p class="subDetails">OCTOBER 2021 - APRIL 2022</p>
						<p>Query development with Impala and Hadoop, to answer and analyze 
							customer experience and retrieve insights to improve NPS.
							Web Scraping with Python and handling data with Pandas and PySpark.</p>
					</article>
					
					<article>
						<h2>Intermediate Sales Analyst, Azul Linhas Aereas, Barueri</h2>
						<p class="subDetails">MAY 2018 - OCTOBER 2021</p>
						<p>Development of Dashboards in Power Bi, for the entire team in the 
							commercial area and reporting sales to the senior management, 
							Director and VP. Macro Development with VBA. Data extraction and 
							reports using SQL Server. Web Scraping with Python and handling data 
							with Pandas. Market Analysis to drive sales develop, sales reports with 
							Excel, Tableau and Power Bi. Application of commercial strategies. 
							Development of marketing announcements (Html), B2B audience focus.</p>
					</article>

					<article>
						<h2>Jr. Sales Analyst, Azul Linhas Aereas, Barueri</h2>
						<p class="subDetails">OCTOBER 2017 - MAY 2018</p>
						<p>Sales and after-sales of Air Groups.</p>
					</article>

					<article>
						<h2>Customer Service Operator International, Azul Linhas Aereas, São Paulo</h2>
						<p class="subDetails">JANUARY 2017 - SEPTEMBER 2017</p>
						<p>Return to customer service in English and Portuguese, but with a more sales-oriented focus.</p>
					</article>

					<article>
						<h2>Customer service technical support, Azul Linhas Aereas, São Paulo</h2>
						<p class="subDetails">JANUARY 2016 - JANUARY 2017</p>
						<p>Focus on assisting operators and supervisors, training staff and BackOffice operations.</p>
					</article>

					<article>
						<h2>Customer Service Operator International, Azul Linhas Aereas, São Paulo</h2>
						<p class="subDetails">APRIL 2015 - JANUARY 2016</p>
						<p>Customer service for travel agents and support in English.</p>
					</article>

					<article>
						<h2>Customer Service Operator, Azul Linhas Aereas, São Paulo</h2>
						<p class="subDetails">APRIL 2013 - MARCH 2015</p>
						<p>Answering call's from the Loyalty program service, Customer Service.</p>
					</article>

				</div>
				<div class="clear"></div>
			</section>
			
			
			<section>
				<div data-aos="fade-left" data-aos-duration="1300">
					<div class="sectionTitle">
						<h1>Key Skills</h1>
					</div>
					
					<div class="sectionContent">
						<ul class="keySkills">
							<li id="minilogo"><img src="{{url_for('static', filename='img/powerbi.png' )}}" />   Power Bi  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/tableau.png' )}}" />   Tableau  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/python.png' )}}" />   Python  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/html.png' )}}" />   HTML/CSS  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/database.png' )}}" />   T-SQL  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/impala.png' )}}" />   Impala/Hadoop  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/oracle.png' )}}" />   Oracle Responsys  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/scrum.png' )}}" />   Agile/Scrum  </li>
							<li id="minilogo"><img src="{{url_for('static', filename='img/excel.png' )}}" />   Office  </li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</section>
			
			<section>
				<div data-aos="fade-left" data-aos-duration="1300">
					<div class="sectionTitle" >
						<h1>Education</h1>
					</div>
					
					<div class="sectionContent">
						<article>
							<h2>Big Data and Data Intelligence, Universidade Anhembi Morumbi</h2>
							<p class="subDetails">JANUARY 2021 - JUNE 2024</p>
						</article>
						
						<article>
							<h2>Bachelor's in Civil Aviation, Universidade Anhembi Morumbi</h2>
							<p class="subDetails">JANUARY 2011 - DECEMBER 2016 (Incomplete)</p>
						</article>
					</div>
					<div class="clear"></div>
				</div>
			</section>
			
			<section>
				<div data-aos="fade-left" data-aos-duration="1300">
					<div class="sectionTitle">
						<h1>Courses</h1>
					</div>
					
					<div class="sectionContentCourses">
						<article>
							<h2>IBM Data Science, Coursera</h2>
							<p class="subDetails">JUNE 2021 - JULY 2021</p>
						</article>
						
						<article>
							<h2>ETL with SQL Server, KaSolution</h2>
							<p class="subDetails">JANUARY 2021 - JANUARY 2021</p>
						</article>
						
						<article>
							<h2>Sql Server - Advanced, Udemy</h2>
							<p class="subDetails">JUNE 2019 - JUNE 2019</p>
						</article>
						
						<article>
							<h2>Excel II - Advanced, Impacta</h2>
							<p class="subDetails">JUNE 2017 - JUNE 2017</p>
						</article>
						
						<article>
							<h2>Excel I - Basic, Impacta</h2>
							<p class="subDetails">JANUARY 2015 - JANUARY 2015</p>
						</article>
					</div>
					<div class="clear"></div>
				</div>
			</section>
		</div>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
  });
</script>
</body>
</html>